$corPrincipal: #eee;
$corSecundaria: #111;
body {
    background-color: $corPrincipal;
}

header {
    background-color: $corPrincipal;
}

header h1 {
    color: $corSecundaria;
}

button {
    background-color: $corSecundaria;
    color: $corPrincipal;

    &:hover {
        background-color:yellow;
    }

    &:sucesso {
        background-color: green;
    }
}

